<h2 mat-dialog-title>{{content.title}}</h2>

<div *ngFor="let par of content.body">{{par}}</div>
<img class="text-center" [src]="content.img"/>
<br>
<button mat-raised-button mat-dialog-close class="mt-3">Cancel</button>
<button mat-raised-button mat-dialog-close (click)="startTutorial(content.index-1)">{{content.button1}}</button>
<button mat-raised-button mat-dialog-close (click)="startTutorial(content.index+1)">{{content.button2}}</button>
<button mat-raised-button mat-dialog-close>{{content.button3}}</button>
