<div id="app">
  <app-map (map$)="receiveMap($event)" [showFeat]="featuredRestaurants"></app-map>
  <leaflet-sidebar-control [map]="map" [options]="sidebarOptions"></leaflet-sidebar-control>
  <div id="sidebar" #sidebar class="leaflet-sidebar collapsed">
    <!-- Nav tabs -->
    <div class="leaflet-sidebar-tabs">
      <!-- top aligned tabs -->
      <ul role="tablist">
        <li #homeActive><a href="#home" role="tab"><i class="fa fa-bars active"></i></a></li>
        <li><a href="#settings" role="tab"><i class="fa fa-cogs"></i></a></li>
        <li #layerTab><a href="#layerTab" role="tab"><i class="fa fa-layer-group"></i></a></li>
      </ul>
      <!-- bottom aligned tabs -->
      <ul role="tablist">
        <li><a target="_blank" href="https://github.com/Joilence/EV-Charging-Station-GIS"><i
          class="fa fa-info-circle"></i></a></li>
      </ul>

    </div>

    <!-- Tab panes -->
    <div class="leaflet-sidebar-content">
      <div class="leaflet-sidebar-pane" id="home">
        <h1 class="leaflet-sidebar-header">
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>

        <div class="leaflet-sidebar-custom-content">

          <h3 class="text-center w-100">Route planning (coordinates)</h3>
          <mat-form-field class="w-50 pr-1">
            <mat-label>Start: Latitude</mat-label>
            <input #inputStartLat type="number" matInput value="47.6779">
          </mat-form-field>
          <mat-form-field class="w-50 pl-1">
            <mat-label>Start: Longitude</mat-label>
            <input #inputStartLong type="number" matInput value="9.1732">
          </mat-form-field>
          <br/>
          <mat-form-field class="w-50 pr-1">
            <mat-label>Target: Latitude</mat-label>
            <input #inputTargetLat type="number" matInput value="51.0504">
          </mat-form-field>
          <mat-form-field class="w-50 pl-1">
            <mat-label>Target: Longitude</mat-label>
            <input #inputTargetLong type="number" matInput value="13.7373">
          </mat-form-field>
          <br/>
          <mat-form-field class="w-50 pr-1">
            <mat-label>Car Range (km)</mat-label>
            <input type="number" value="200" #inputRange matInput>
          </mat-form-field>
          <mat-checkbox [(ngModel)]="featuredRestaurants" >Include Featured Restaurants</mat-checkbox>
          <button class="text-center w-100 mt-3" mat-raised-button color="primary" (click)="calculateRoute()">
            Calculate
          </button>
        </div>
      </div>
      <div class="leaflet-sidebar-pane" id="settings">
        <h1 class="leaflet-sidebar-header">
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <div class="leaflet-sidebar-custom-content">
          <h3 class="text-center w-100">Settings</h3>
          <!-- TODO -->
        </div>
      </div>
      <div class="leaflet-sidebar-pane" id="layerTab">
        <h1 class="leaflet-sidebar-header">
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <div class="leaflet-sidebar-custom-content">
          <h3 class="text-center w-100">HeatMap</h3>

          <p>Hint: If you zoom in, slightly increase the radius and/or decrease the max zoom. For zooming out, it is the other way round.</p>

          <div class="w-100">
            <div>Radius</div>
            <mat-slider class="w-100" value="10" thumbLabel min="1" tickInterval="1" max="50" [(ngModel)]="radiusHeat"></mat-slider>
          </div>
          <div class="w-100">
            <div>Max Zoom</div>
            <mat-slider class="w-100" value="11" thumbLabel min="0" tickInterval="1" max="20" [(ngModel)]="maxZoomHeat"></mat-slider>
          </div>
          <button class="text-center w-100 mt-3" mat-raised-button color="primary" (click)="addHeatMapStationsLayer()">
            HeatMap Stations
          </button>

          <button class="text-center w-100 mt-3" mat-raised-button color="secondary" (click)="this.mapComponent.removeLayers()">
            Clear HeatMap
          </button>
          <button class="text-center w-100 mt-3" mat-raised-button color="secondary" (click)="this.mapComponent.clearMap()">
            Clear Map
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
